<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KiemTraThucHanh.Properties.Settings.QLNVConnectionString"
            connectionString="Data Source=H71M08;Initial Catalog=QLNV;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
        <add name="KiemTraThucHanh.Properties.Settings.QLNVConnectionString1"
            connectionString="Data Source=DESKTOP-PPFD7V0;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>